[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "panda"]
	path = panda
	url = https://github.com/dinglixing/panda.git
[submodule "rtos"]
	path = rtos
	url = https://github.com/dinglixing/rtos.git
