[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3
[submodule "panda"]
	path = panda
	url = https://github.com/dinglixing/panda.git
[submodule "module/libopencm3"]
	path = module/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "module/panda"]
	path = module/panda
	url = https://github.com/cupkee/panda.git
